@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center">My blog posts</h1>

<div class="row">
    <div class="col-md-2 d-flex flex-column gap-3">
        <a asp-page="/Posts/Create" class="btn btn-primary btn-sm">New Post</a>
        <a asp-page="/Authors/Create" class="btn btn-primary btn-sm">New Author</a>
        <a asp-page="/Categories/Create" class="btn btn-primary btn-sm">New Category</a>
    </div>
    
    
    <div class="col-md-7">
        
        @if(Model.Posts.Count == 0){
            <p class="text-muted">No posts yet. Please add a post.</p>
            }
        
        @foreach(var post in Model.Posts){
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <span class="text-sm text-muted">by @post.Author.Name</span>
                    <span class="text-muted">in 
                        <a asp-page="/Categories/Details" asp-route-id="@post.Category.Id">@post.Category.Name</a>
                    </span>
                    <p class="class-text mt-3">@post.Excerpt</p>
                    <a asp-page="/Posts/Details" asp-route-id="@post.Id">Read more</a>
                </div>
            </div>
        }
    </div>
    
    <div class="col-md-3">
        <h3 class="category-title text-center">Categories</h3>
            @if(Model.Categories.Count == 0){
            <p class="text-muted">No categories yet. Please add a category.</p>
            }
            @foreach(var category in Model.Categories){
            <h5 class="category-name">@category.Name</h5>
            <ul>
            @foreach(var post in category.Posts){
                <li><a asp-page="/Posts/Details" asp-route-id="@post.Id">@post.Title</a></li>
            }
            </ul>
}

    </div>
</div>
